body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: orangered;
}
.book{
    color: seagreen;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.flexiable-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10%;
}
.experiences-item{
    box-shadow: 10px 10px 50px gray;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}